<h2>Noble Houses</h2>
<%= link_to "New House", new_house_path %>
<br>
<% @houses.each do |house| %>
<ul>
  <li> <%= link_to house.name, house_path(house) %>
    <%= link_to "(-)", house_path(house),
        method: :delete,
        data: {confirm: 'Are you sure?'},
        class: "link" %> </li>
</ul>
<% end %>
