<h2>Players</h2>
<%= link_to "New Character", new_character_path, class: "link" %>

<br>

<% @characters.each do |character| %>

  <%= link_to character.name, character_path(character), class: "link" %>
  <%= link_to "(-)", character_path(character),
        method: :delete,
        data: {confirm: 'Are you sure?'},
        class: "link" %> <br>

<% end %>
